.pages-list-container {
    .title {
        font-size: 2rem;
        margin: 2rem 0rem;
        font-weight: 500;
    }

    .left-container {
        background: #f9f9f9;
        .each-item {
            .item{
                font-size: 24px;
                font-weight: 500;
            }
            .sub-item{
                font-size: 14px;
            }
            padding: 1rem 10px;

            &.active {
                background: #e9e9e9;
            }
        }
    }

    .child-container {
        margin-left: 2rem;

        .inputs-container {
            padding: 1rem;
            background: #f6f6f6;
            margin: 1rem 0rem;
            border-radius: 8px;

            span,
            input {
                display: flex;
            }

            input {
                padding: 5px 1rem;
                border: solid 1px lightgrey;
                border-radius: 8px;
            }

            button {
                all: unset;
                background: green;
                color: white;
                padding: 5px 1.1rem;
                border-radius: 8px;
                cursor: pointer;
            }
        }

        .inner {
            margin-left: 2rem;
        }
    }
}
